[submodule "projects/ai-vtuber-voice-communication"]
	path = projects/ai-vtuber-voice-communication
	url = git@github.com:TakuKobayashi/ai-vtuber-voice-communication-sample.git
[submodule "projects/ai-vtuber-metamorphosis"]
	path = projects/ai-vtuber-metamorphosis
	url = git@github.com:TakuKobayashi/ai-vtuber-metamorphosis-sample.git
[submodule "projects/voicevox-webplayer-sample"]
	path = projects/voicevox-webplayer-sample
	url = git@github.com:TakuKobayashi/voicevox-webplayer-sample.git
[submodule "projects/realtime-p2p-demo"]
	path = projects/realtime-p2p-demo
	url = git@github.com:TakuKobayashi/realtime-p2p-demo.git
